#product-holder {
  width: 100%;
  display: flex;
}

#all-products{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: rgb(246, 249, 250);
  padding: 20px;
  overflow-y: scroll;
}

#all-products::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

#prod-card {
  border-radius: 20px;
  width: 250px;
  height: fit-content;
  /* overflow: hidden; */
  padding: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#prod-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#prod-icons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  /* border: 1px solid; */
}

#card-icon{
  min-width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
#wishlist-bar {
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: flex-end;
}
#prod-detail {
  width: 100%;
  padding: 10px;
}
#btn{
  padding: 10px 15px;
  background-color: #FF8C00;
  border: none;
  color: white;
  border-radius: 25px;
  margin: auto;
  display: block;
}
#category {
  color: rgb(172, 172, 172);
}
#prod-price {
  font-size: 25px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

button{
 color: white;
}
#edit{
  background-color: #FF8C00;
}

#delete{
  background-color: red;
}