#dashboard-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#count-holder {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

#count {
  width: 200px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 10px;
}

#count h1 {
  font-size: 80px;
}

#count p {
  font-size: 25px;
}

table img{
  width: 50px;
  border-radius: 50%;
}

#product-holder{
  gap: 20px;
  padding: 10px;
}

tr{
  border-bottom: 1px solid ;
}
