#dashboard-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#count-holder {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

#count {
  width: 200px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#count h1 {
  font-size: 80px;
}

#count p {
  font-size: 25px;
}
