@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,body,#root{
  /* height: 100%; */
  width: 100%;
}

#container{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
}

#image-holder{
  width: 60%;
  height: 100%;
}

#form-holder{
  width: 40%;
  height: 100%;
  padding: 30px;
}
#image-holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#form-holder{
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#form-grid{
  width: 100%;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

#form-grid select, #form-grid textarea, #form-grid button{
  grid-column: span 2;
}

form h1{
  text-align: center;
  color: #FF8C00;
}

form input,
form textarea,form select {
  padding: 15px;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 5px;
  resize: none;
}

form textarea {
  height: 100px;
}

form input:focus,form textarea:focus {
  outline: none;
  border: 2px solid #FF8C00;
}
form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FF8C00;
  color: white;
}

form a{
  color: #FF8C00;
  text-decoration: none;
}


#edit-image-holder{
  width: 100%;

  display: grid;
  grid-template-columns: 120px 120px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#edit-image-holder img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

/* Image components STYLES */
.image-component {
  width: 100%;
  max-width: 600px;
  height: 120px;
}

.image-component span {
  display: block;
  margin-bottom: 5px;
}

.custom-image-holder {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed lightgray;
  border-radius: 8px;
}

.custom-image-holder svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  color: lightgray;
}

.custom-image-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.custom-image {
  display: none;
  margin-bottom: 10px;
}

@media (max-width:700px) {
  #container{
    flex-direction: column;
  }

  #image-holder ,#form-holder{
    width: 100%;
    height: 50%;
  }

  #form-grid{
    grid-template-columns: 1fr;
  }

  #form-grid select, #form-grid textarea, #form-grid button{
  grid-column: span 1;
}
}

#register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#register-form textarea {
  grid-column: span 2;
}

#register-form button {
  grid-column: span 2;
}

#register-form h1 {
  grid-column: span 2;
}