#banner{
    width: 100%;
    height: 350px;
}

#homepage{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}
#banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#heading{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
    color: #FF8C00;
}

#category-holder,#trending{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
#category-holder #category{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#category-name{
    font-size: 30px;
}

#wishlist-holder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}