#root{
    display: flex;
    overflow: hidden;
}

nav{
    height: 100%;
    width: 100px;
    padding: 30px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
}

#dashboard-navbar{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: end;
}

#dashboard-navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav a{
    position: relative;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
nav a #tooltip{
    background-color: white;
    padding: 5px 14px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: -8px;
    left: 30px;
    display: none;
    transition: 0.5s ease;
}

nav a:hover #tooltip{
    display: block;
    color: #FF8C00;
}