#product-desc{
    width: 100%;
    height: 100%;
    display: flex;
}

#img-desc{
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    overflow: hidden;
    padding: 15px;
}

#img-desc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


#prod-desc{
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#prod-name{
    font-size: 50px;
    /* font-weight: bold; */
}

#desc{
    margin-top: 15px;
    text-wrap: wrap;
    text-align: justify;
}

#prod-category{
    margin-top: 10px;
    font-size: 20px;
    /* font-weight: 600; */
}
#price{
    font-size: 60px;
}

#btn-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

#btn-holder button{
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
}

#sub-img{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 10px 10px;
}

#sub-img #navigation{
    width: 100%;
    height: 120px;
    background-color: #FF8C00;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

}


#sub-img-btn{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

#sub-img-btn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#owner-img{
    display: flex;
    /* border: 1px solid; */
    align-items: start;
    gap: 15px;
}

#owner-desc{
    /* display: flex; */
    gap: 15px;
}

#page-description{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}