#profile{
    height: 200px;
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}

#profile-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

#profile-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact{
    width: 100%;
    padding: 15px 0px;
    display: flex;
    gap: 20px;
}

#contact a{
    padding: 10px;
    background-color: #FF8C00;
    border-radius: 25px;
    width: 80px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
}