.card {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  background-size: cover;
  background-position: "center";

  padding: 20px;
  overflow: hidden;
  transition: 0.5s ease;
}

.prod-details {
  width: 100%;
  background: rgba(250, 250, 250, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid #060606;
  text-align: center;

  transform: translateY(200px);
  transition: 0.5s ease;
}

.card a{
    text-decoration: none;
}
.card:hover .prod-details {
  transform: translateY(120px);
}
