@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: url("https://img.freepik.com/free-photo/view-3d-personal-computer-with-workstation-office-items_23-2150714107.jpg?t=st=1739427528~exp=1739431128~hmac=733c67d6822c52539d685bfafe592adffb31d052550d09b27473528986687bed&w=740");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  padding: 7px 7px;
}

.auth-container {
  width: 100%;
  height: 100%;
  display: flex;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.image-section,
.form-section {
  width: 50%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-section h1 {
  font-size: 80px;
  text-align: center;
}

#login-form,
#register-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

#login-form h1,
#register-form h1 {
  text-align: center;
  font-size: 60px;
  color: #333;
  margin-bottom: 30px;
}
#login-form input,
#register-form input {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid lightgray;
  outline: none;
}

#login-form button,
#register-form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
}

#login-form a,
#register-form a {
  text-decoration: none;
  text-align: center;
}
