*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.auth-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.image-section,.form-section{
    width: 50%;
    height: 100%;
    /* padding: 20px; */
    overflow: hidden;
}

.image-section img{
    width: 100%;
    height: 100%;
}

#login-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
}

#login-form input{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid rgb(211, 211, 211);
    margin-top: 10px;
}

#login-form button{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}