nav{
    padding: 40px 10px;
    width: fit-content;
    height: 100%;
    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    transition: 0.5s ease;
}

nav ul li:hover a{
    color: #e70808;
}
#profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}