.product-container {
  width: 80%;
  height: 100%;
  background-color: white;

  display: flex;
}

.product-image-holder,
.product-desc-holder {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  /* border: 1px solid; */
}

.main-image {
  width: 500px;
  height: 480px;
  border-radius: 25px;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all-img {
  margin-top: 20px;
  height: 130px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.sml-img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  overflow: hidden;
}

.sml-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-desc-holder{
    align-items: start;
    justify-content: start;
}

#prod-name{
    font-size: 45px;
    text-wrap: wrap;
    text-transform: capitalize;
}

#prod-desc{
    margin-top: 20px;
    font-size: 18px;
    text-wrap: wrap;
}

#prod-price{
    font-size: 50px;
}

.profile{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.btn-holder{
    width: 100%;
    padding: 10px 0px;

    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#wishlist,#rent{
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #f0c14b;
    color: white;
}